*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
    position: relative;
}

#page1{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 255, 255, 0.199);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#page1 a button{
        z-index: 20;
        position: relative;
        background-color: blueviolet;
        padding: 10px 50px;
        text-decoration: none;
        color: aliceblue;
        border: none;
}
canvas{
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}